.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:not(.btn) {
  color: #0c5f9a;
}
a:not(.btn):hover {
  color: #1e98ee;
}
body {
  color: #666;
}
body.bg {
  background: #fff;
}
#sp-header-wrapper .logo {
  background-image: url(../img/logo.png);
}
.module.highlighted {
  background: #0f7dca;
}
.module.highlighted a:not(.btn) {
  color: #4daef2;
}
.module.highlighted a:not(.btn):hover {
  color: #0c5f9a;
}
#sp-tweet-wrapper a {
  color: #dceffc;
}
#sp-bottom-wrapper,
#sp-footer-wrapper {
  color: #fff;
}
#sp-bottom-wrapper h3,
#sp-footer-wrapper h3 {
  color: #fff;
}
#sp-bottom-wrapper a:not(.btn),
#sp-footer-wrapper a:not(.btn) {
  color: #dceffc;
}
#sp-bottom-wrapper a:not(.btn):hover,
#sp-footer-wrapper a:not(.btn):hover {
  color: #ffffff;
}
#sp-bottom-wrapper p,
#sp-footer-wrapper p {
  color: #dceffc;
}
#sp-bottom-wrapper span,
#sp-footer-wrapper span {
  color: #dceffc;
}
#sp-bottom-wrapper {
  background: #1e98ee;
}
#sp-footer-wrapper {
  background: #118be1;
}
#sp-footer-wrapper {
  border-top: 1px solid #4daef2;
}
!important
	#sp-footer-wrapper::after {
  background: #6ccaee;
}
.sp-border {
  border-top: 1px solid #4daef2;
}
!important
	.sp-border::after {
  background: #6ccaee;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  background: #0f7dca;
}
.btn-primary:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover {
  background: #0f7dca;
}
#sp-tweet-wrapper,
#sp-custom_add a.btn-large {
  background-color: #1e98ee;
}
#sp-custom_add a.btn-large {
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}
#sp-custom_add a.btn-large:hover {
  background-color: #118be1;
}
#call_now {
  color: #1e98ee;
}
#sp-bottom-wrapper .btnWrap {
  border: 1px solid #4daef2 !important;
}
#sp-bottom-wrapper .btnWrap .nemobtn {
  background-color: #1e98ee !important;
  border: 1px solid #4daef2 !important;
}
#sp-bottom-wrapper .btnWrap .nemobtn:hover {
  background-color: #118be1 !important;
}
#sp-bottom-wrapper .btnWrap .nemobtn:focus {
  background-color: #118be1 !important;
}
#sp-tweet-wrapper {
  border-bottom: 1px solid #4daef2 !important;
}
#sp-footer2 .icon-caret-up:before {
  color: #7dc3f5;
}
.icon-external-link:before,
.icon-screenshot:before,
.icon-thumbs-up-alt:before {
  color: #1e98ee;
}
.btnWrap .nemobtn:hover {
  background-color: #118be1 !important;
}
.btnWrap:hover {
  background: #118be1 !important;
}
div.rox-user-inner .span4:hover {
  background: #1e98ee;
}
div.rox-user-inner .span4:hover .btnWrap {
  border: 1px solid #4daef2;
  background: #1e98ee;
}
div.rox-user-inner .span4:hover .btnWrap>.nemobtn {
  border: 1px solid #4daef2 !important;
  background-color: #1e98ee;
}
div.rox-user-inner .span4:hover .rox_border_all {
  border: 1px solid #4daef2;
}
div.rox-user-inner .span4:hover .rox_border_bottom {
  border-bottom: 1px solid #4daef2;
}
div.rox-user-inner .span4:hover .rox_border_top {
  border-top: 1px solid #4daef2;
}
div.rox-user-inner .span4:hover .rox_border_right {
  border-right: 1px solid 1px solid #4daef2;
}
div.rox-user-inner .span4:hover .rox_border_left {
  border-left: 1px solid 1px solid #4daef2;
}
.rox_nav_controll .carousel-control:hover,
.rox_nav_controll .carousel-control:focus {
  background: #1e98ee;
  border: 1px solid #4daef2;
}
.tp-rightarrow:hover {
  background: #1e98ee !important;
  border: 1px solid #4daef2;
}
.tp-leftarrow:hover {
  background: #1e98ee !important;
  border: 1px solid #4daef2;
}
a.rox_facebook:hover,
a.rox_gplux:hover,
a.rox_pinterest:hover,
a.rox_twitter:hover {
  background-color: #118be1;
}
a.rox_facebook,
a.rox_gplux,
a.rox_pinterest,
a.rox_twitter {
  border: 1px solid #4daef2;
}
a.rox_tm_facebook:hover,
a.rox_tm_gplux:hover,
a.rox_tm_pinterest:hover,
a.rox_tm_twitter:hover {
  background-color: #118be1;
  border: 1px solid #4daef2;
  color: #ffffff;
}
a.fb:hover,
a.twitter:hover,
a.gplus:hover {
  color: #1e98ee;
}
div.maxima .btn.active {
  background-color: #118be1 !important;
}
div.maxima .btn {
  background: #1e98ee !important;
  line-height: 35px !important;
  color: #fff !important;
}
div.maxima .btn:active {
  background-color: #118be1 !important;
}
div.maxima .btn:hover {
  background-color: #118be1 !important;
}
div.rox_overly {
  background: #1e98ee;
}
div.maxima .sp-portfolio-thumb .sp-portfolio-preview,
div.maxima .sp-portfolio-thumb .sp-portfolio-link {
  background-color: #4daef2 !important;
  color: #fff !important;
}
div.maxima .sp-portfolio-loadmore .btn {
  height: auto !important;
}
.sp-portfolio-item-details .btnWrap .nemobtn:hover {
  background: #fff !important;
}
.sp-portfolio-item-details .btnWrap:hover {
  background: #fff !important;
}
.tp-caption a {
  color: #666;
}
.tp-caption a:hover {
  color: #1e98ee !important;
}
.tp-caption .btnWrap .nemobtn:hover {
  background: #fff !important;
}
.tp-caption .btnWrap:hover {
  background: #fff !important;
}
.tp-caption a {
  color: #666 !important;
}
.tp-caption a:hover {
  color: #1e98ee !important;
}
div.itemCommentsForm  input.nemobtn:hover {
  color: #1e98ee;
}
#sp-header-wrapper.fixed {
  background: #1e98ee;
  border-bottom: 1px solid #4daef2 !important;
}
#sp-header-wrapper.fixed #sp-main-menu ul.level-0 > li.active > a {
  color: #dceffc !important;
}
#sp-header-wrapper.fixed .sp-submenu {
  background: #1e98ee;
  border: 1px solid #4daef2 !important;
}
#sp-header-wrapper.fixed .sp-submenu .sp-submenu-wrap {
  background: #1e98ee;
  border: 1px solid #4daef2 !important;
}
#sp-header-wrapper.fixed .sp-submenu .sp-submenu-wrap .sp-submenu-inner a {
  border: 1px solid #1e98ee;
}
#sp-header-wrapper.fixed .sp-submenu .sp-submenu-wrap .sp-submenu-inner a:hover {
  background-color: #118be1;
  border: 1px solid #65b9f3;
}
#sp-main-menu ul.level-0 > li.active > a {
  color: #1e98ee !important;
}
div.k2TagCloudBlock a:hover {
  background: #1e98ee;
}
