
/* Rox Utility Wrapper */
#rox_utility_wrapper h3.rox_header{text-align:left;color:#969595;}

/* Utility Position style */
#rox_utility_wrapper .span3{width:25%;overflow:hidden}
#rox_utility_wrapper {color:#ffffff; text-align:center;}
#rox_utility_wrapper  .black{background-color:#545454;}
#rox_utility_wrapper  .green{background-color:#1bb998;}
#rox_utility_wrapper  .yellow{background-color:#f78c26; }
#rox_utility_wrapper  .red{background-color:#fa565a;}
#rox_utility_wrapper  .content_padding{padding:45px 20px !important;margin-right:5px;}
span.header{background:#ffffff; padding-right:15px; color:#969595;}



/* End of utility icon hover animation */