<<<<<<< HEAD
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*Client Logo Style*/
#client_logo_wrapper  .content_padding{padding: 25px 15px;}
#client_logo_wrapper  .carousel{margin-bottom:0px}
#client_logo_wrapper  .inline{margin-bottom:0px}
#client_logo_wrapper  .client_logo li{display:inline-block;padding: 5px 50px;}
.rox_nav_controll{
background: #fff;
position: absolute;
height: 29px;
width: 65px;
top: -80px;
right: -15px;
padding: 5px 0 5px 10px;
}

.rox_nav_controll .carousel-control:hover, .rox_nav_controll .carousel-control:focus
{
color:#fff;
}
.rox_nav_controll  a{width:30px;height:29px}
.rox_nav_controll  .carousel-control.left{left:7px !important}
.rox_nav_controll  .carousel-control.right{right:0px !important}


.rox_client_carosuel ul li img{
	margin:0px 23px;
	transition:all 400ms;
	-webkit-transition:all 400ms;
	-moz-transition:all 400ms;
	-o-transition:all 400ms;
}

	
	
.carousel-inner ul li{
padding: 10px 10px 10px 10px
}

#client_logo_wrapper .client_logo li {
display: inline-block;
padding: 5px 50px;
}

.rox_client_carosuel{
	position: relative;
	margin-bottom: 0px;
	line-height: 1;
}

.rox_nav_controll .carousel-control {
position: absolute;
top: 60%;
margin-top: -20px;
font-size: 15px;
font-weight: 100;
line-height: 30px;
color: #d5d5d5;
text-align: center;
background:transparent;
border: 1px solid #d5d5d5;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius:95px;
width: 30px;
height: 30px;
}
=======

/*Client Logo Style*/
#client_logo_wrapper  .content_padding{padding: 25px 15px;}
#client_logo_wrapper  .carousel{margin-bottom:0px}
#client_logo_wrapper  .inline{margin-bottom:0px}
#client_logo_wrapper  .client_logo li{display:inline-block;padding: 5px 50px;}
.rox_nav_controll{
background: #fff;
position: absolute;
height: 29px;
width: 65px;
top: -80px;
right: -15px;
padding: 5px 0 5px 10px;
}

.rox_nav_controll .carousel-control:hover, .rox_nav_controll .carousel-control:focus
{
color:#fff;
}
.rox_nav_controll  a{width:30px;height:29px}
.rox_nav_controll  .carousel-control.left{left:7px !important}
.rox_nav_controll  .carousel-control.right{right:0px !important}


.rox_client_carosuel ul li img{
	margin:0px 23px;
	transition:all 400ms;
	-webkit-transition:all 400ms;
	-moz-transition:all 400ms;
	-o-transition:all 400ms;
}

	
	
.carousel-inner ul li{
padding: 10px 10px 10px 10px
}

#client_logo_wrapper .client_logo li {
display: inline-block;
padding: 5px 50px;
}

.rox_client_carosuel{
	position: relative;
	margin-bottom: 0px;
	line-height: 1;
}

.rox_nav_controll .carousel-control {
position: absolute;
top: 60%;
margin-top: -20px;
font-size: 15px;
font-weight: 100;
line-height: 30px;
color: #d5d5d5;
text-align: center;
background:transparent;
border: 1px solid #d5d5d5;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius:95px;
width: 30px;
height: 30px;
}
>>>>>>> branch 'master' of https://niaowoyun@bitbucket.org/niaowoyun/nwy.git
/*End Of Client Logo Part */
