
div.rox-user-inner  .content_padding{padding:40px 40px 30px 40px}
div.rox-user-inner  .rox-user-inner{border:1px solid #f1f1f1;overflow:hidden;}
div.rox-user-inner  .span4{width: 33.33%;}
div.rox-user-inner  .first-span{border-left:none;}
div.rox-user-inner  a.nemobtn{color:#969595;text-decoration:none} 

/*User Hover part*/
div.rox-user-inner  .span4,.btnWrap>.nemobtn,.btnWrap,div.rox-user-inner .span4 h3.rox_header{
transition:all 800ms;
-webkit-transition:all 800ms;
-moz-transition:all 800ms;
-o-transition:all 800ms;
}

div.rox-user-inner .span4:hover{color:#fff;
}
div.rox-user-inner .span4:hover  a.nemobtn{color:#fff}
div.rox-user-inner .span4:hover  h3.rox_header{color:#fff;text-decoration:none}
div.rox-user-inner p{margin-bottom:15px}



/*End of hover span4*/

/* Button */
div.rox-user-inner .btnWrap{ border:1px solid #f1f1f1; float:left; padding:0 3px 3px 0;}
div.rox-user-inner .btnWrap>.nemobtn{ border:1px solid #f1f1f1; padding:10px 25px; float:left; margin: -3px 0 0 -3px;background-color:#fff;}

/*--Font Awsome--*/
.icon-external-link:before,.icon-screenshot:before,.icon-thumbs-up-alt:before{font-size:40px;padding-bottom:5px;transition: all 800ms;
-webkit-transition: all 800ms;
-moz-transition: all 800ms;
-o-transition: all 800ms;
}
div.rox-user-inner .span4:hover .icon-external-link:before,div.rox-user-inner .span4:hover .icon-screenshot:before,div.rox-user-inner .span4:hover .icon-thumbs-up-alt:before{font-size:40px;color:#fff}

