
#rox_our_team .span4 {
width: 33.33%;
}


#rox_our_team .content_padding {
padding: 30px 15px;
}
#rox_our_team .span4 .row-fluid {
position: relative;
}

#rox_our_team .span4 .row-fluid img.v_center {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
height: 108px;
width: 108px;
}

#rox_our_team .team_desc {
padding-left: 150px;
}

#rox_our_team .span4 .row-fluid h3 {
line-height: 20px;
}
a.rox_tm_facebook,a.rox_tm_gplux,a.rox_tm_pinterest,a.rox_tm_twitter {
background:transparent;
padding: 3px;
border-radius:95px;
-webkit-border-radius:95px;
-moz-border-radius:95px;
height: 30px;
width: 30px;
display: block;
text-align: center;
line-height: 39px;
display: inline-block;
margin-right: 5px;
border:1px solid #eee;
color:#BDBCBC;
}
