.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 35px;
  *line-height: 35px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  background: #16a085;
  border: none;
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  box-shadow: none;
  text-shadow: none;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #138a72;
  *background-color: #138a72;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #138a72;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  box-shadow: none;
  color: #fff;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 33px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 31px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#08c,#0044cc);
  background-image: -o-linear-gradient(top,#08c,#0044cc);
  background-image: linear-gradient(to bottom,#08c,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
  background-image: -o-linear-gradient(top,#fbb450,#f89406);
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#444,#222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image: -webkit-linear-gradient(top,#444,#222);
  background-image: -o-linear-gradient(top,#444,#222);
  background-image: linear-gradient(to bottom,#444,#222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #090909 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
a,
a:hover {
  text-decoration: none;
}
.page-header {
  padding-bottom: 10px;
  margin: 0 0 20px;
}
.entry-meta.muted {
  background: transparent;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.entry-meta.muted >span,
.entry-meta.muted >time {
  margin: 0 5px;
}
.entry-meta ul {
  margin: 0 5px;
}
.entry-meta ul.actions {
  float: right;
}
.entry-meta ul.actions li {
  display: inline-block;
}
.entry-meta ul.actions li.print-icon a::before {
  content: "\f02f";
}
.entry-meta ul.actions li.email-icon a::before {
  content: "\f003";
}
.entry-meta ul.actions li.edit-icon a::before {
  content: "\f044";
}
.entry-meta ul.actions li a {
  font-family: FontAwesome;
  display: block;
  font-size: 14px;
  margin-left: 5px;
}
.entry-meta ul.actions li a img {
  display: none;
}
.entry-meta ul.actions li a span {
  display: none;
}
ul.pagenav {
  list-style: none;
  padding: 0;
  clear: both;
  margin-top: 10px;
  margin-left: 0;
  overflow: hidden;
}
ul.pagenav .pagenav-prev {
  float: left;
}
ul.pagenav .pagenav-next {
  float: right;
}
dl dt,
dl dd {
  display: inline;
}
label.invalid {
  color: #c83025;
}
.center {
  text-align: center;
}
.center th,
.center tr,
.center td {
  text-align: center;
}
.row-fluid {
  margin-bottom: 30px;
}
#sp-header-wrapper {
  padding: 0;
}
#sp-header-wrapper .logo-wrapper .logo {
  background-position: 50% 40%;
  background-repeat: no-repeat;
}
#sp-header-wrapper .logo-wrapper .logo-text {
  font-size: 24px;
}
#sp-header-wrapper .logo-wrapper .logo-slogan {
  font-size: 11px;
}
#sp-header-wrapper .search {
  margin-top: 10px;
}
#sp-header-wrapper .search form {
  margin: 0;
}
.body-innerwrapper {
  overflow-x: hidden;
}
#sp-main-body-wrapper {
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin-top: 3px;
}
#sp-bottom-wrapper {
  padding: 40px 0 0 0;
}
#sp-feature-wrapper {
  padding: 0;
  text-align: center;
}
#sp-feature-wrapper #feature {
  color: #fff;
}
#sp-feature-wrapper #feature h1 {
  color: #fff;
  font-size: 72px;
  line-height: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}
#sp-feature-wrapper #feature p {
  font-size: 24px;
  line-height: 120%;
  margin: 0 80px;
  margin-bottom: 20px;
}
#sp-users-wrapper {
  padding: 30px 0;
  border-top: 1px solid #ffffff;
}
#sp-breadcrumb-wrapper {
  border-bottom: 1px solid #eee;
}
#sp-breadcrumb-wrapper #sp-breadcrumb {
  text-align: right;
}
#sp-breadcrumb-wrapper #sp-breadcrumb ul.breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  text-align: right;
  display: inline-block;
}
#sp-breadcrumb-wrapper #sp-breadcrumb h3 {
  display: inline-block;
  margin: 0;
  padding-right: 50px;
}
.sp-border {
  position: relative;
}
.sp-border::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-footer-wrapper {
  padding: 15px 0;
  position: relative;
}
#sp-footer-wrapper::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-footer-wrapper ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}
#sp-footer-wrapper ul li a {
  color: #999;
}
#sp-footer-wrapper ul {
  display: inline-block;
}
#sp-footer-wrapper ul.nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li {
  display: inline-block;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li a {
  display: block;
}
#sp-footer-wrapper ul.nav li a:hover {
  background: none;
}
#sp-footer-wrapper .sp-totop {
  display: inline-block;
}
#sp-footer-wrapper .sp-totop i {
  color: #fff;
}
#sp-footer-wrapper .sp-totop small {
  display: none;
}
#sp-footer-wrapper .helix-framework {
  display: inline-block;
}
#sp-footer-wrapper .helix-framework .helix-logo {
  display: block;
  width: 130px;
  height: 40px;
  text-indent: -9999px;
  background: url(../images/helix-logo-white.png) no-repeat 0 0;
}
#sp-footer-wrapper .copyright {
  display: block;
  padding: 5px 0;
}
#sp-footer-wrapper .row-fluid {
  margin-bottom: 0;
}
.ltr #sp-footer-wrapper .helix-framework {
  float: left;
  margin-right: 15px;
}
.ltr #sp-footer-wrapper #sp-footer2 {
  text-align: right;
}
.rtl #sp-footer-wrapper .helix-framework {
  float: right;
  margin-left: 15px;
}
.rtl #sp-footer-wrapper #sp-footer2 {
  text-align: left;
}
button,
input[type='submit'],
input[type='button'],
submit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 35px;
  *line-height: 35px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  background: #16a085;
  border: none;
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  box-shadow: none;
  text-shadow: none;
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
button:first-child,
input[type='submit']:first-child,
input[type='button']:first-child,
submit:first-child {
  *margin-left: 0;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover {
  color: #fff;
  text-decoration: none;
  background-color: #138a72;
  *background-color: #138a72;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
button:focus,
input[type='submit']:focus,
input[type='button']:focus,
submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button.active,
button:active,
input[type='submit'].active,
input[type='submit']:active,
input[type='button'].active,
input[type='button']:active,
submit.active,
submit:active {
  background-color: #138a72;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  box-shadow: none;
  color: #fff;
}
button.disabled,
button[disabled],
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button'].disabled,
input[type='button'][disabled],
submit.disabled,
submit[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button.social,
input[type='submit'].social,
input[type='button'].social,
submit.social {
  background: #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
button.social.facebook,
input[type='submit'].social.facebook,
input[type='button'].social.facebook,
submit.social.facebook {
  color: #0378a9;
}
button.social.facebook:hover,
input[type='submit'].social.facebook:hover,
input[type='button'].social.facebook:hover,
submit.social.facebook:hover {
  background: #0378a9;
  color: #fff;
}
button.social.twitter,
input[type='submit'].social.twitter,
input[type='button'].social.twitter,
submit.social.twitter {
  color: #17b8fb;
}
button.social.twitter:hover,
input[type='submit'].social.twitter:hover,
input[type='button'].social.twitter:hover,
submit.social.twitter:hover {
  background: #17b8fb;
  color: #fff;
}
button.social.pinterest,
input[type='submit'].social.pinterest,
input[type='button'].social.pinterest,
submit.social.pinterest {
  color: #dc4e44;
}
button.social.pinterest:hover,
input[type='submit'].social.pinterest:hover,
input[type='button'].social.pinterest:hover,
submit.social.pinterest:hover {
  background: #dc4e44;
  color: #fff;
}
button.social.gplus,
input[type='submit'].social.gplus,
input[type='button'].social.gplus,
submit.social.gplus {
  color: #9d261d;
}
button.social.gplus:hover,
input[type='submit'].social.gplus:hover,
input[type='button'].social.gplus:hover,
submit.social.gplus:hover {
  background: #9d261d;
  color: #fff;
}
button.social:hover,
input[type='submit'].social:hover,
input[type='button'].social:hover,
submit.social:hover {
  text-decoration: none;
}
.btn.social {
  background: #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.btn.social.facebook {
  color: #0378a9;
}
.btn.social.facebook:hover {
  background: #0378a9;
  color: #fff;
}
.btn.social.twitter {
  color: #17b8fb;
}
.btn.social.twitter:hover {
  background: #17b8fb;
  color: #fff;
}
.btn.social.pinterest {
  color: #dc4e44;
}
.btn.social.pinterest:hover {
  background: #dc4e44;
  color: #fff;
}
.btn.social.gplus {
  color: #9d261d;
}
.btn.social.gplus:hover {
  background: #9d261d;
  color: #fff;
}
.btn.social:hover {
  text-decoration: none;
}
.nav li {
  display: block;
  display: inline;
  float: right;
  padding: 0 5px;
}
.nav li a {
  color: #666;
  border-right: 1px solid #666;
  line-height: 10px;
  padding-right: 10px;
}
.nav li a:hover,
.nav li a:active {
  background: none !important;
}
#mod-search-searchword {
  width: 10px;
}
#sp-title1 h3 {
  text-align: center;
  font-size: 30px;
}
#sp-title1 p {
  text-align: center;
}
#sp-footer2 .icon-caret-up:before {
  content: "\f0d8";
  font-size: 25px;
}
.rox_border_all {
  border: 1px solid #eee;
}
.rox_border_bottom {
  border-bottom: 1px solid #eee;
}
.rox_border_top {
  border-top: 1px solid #eee;
}
.rox_border_right {
  border-right: 1px solid #eee;
}
.rox_border_left {
  border-left: 1px solid #eee;
}
.rox_left0 {
  margin-left: 0 !important;
}
.rox_right0 {
  margin-right: 0 !important;
}
.content_padding {
  padding: 15px;
}
.padding_big {
  padding: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h3.rox_header,
h3.rox_mr_title {
  font-weight: 200;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
.rox_menu_wraper {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
  border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
}
.rox_menu_wraper2 {
  background-color: #fff;
  margin: 0 -5px 3px;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
  border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
}
#sp-main-menu {
  background-color: #ffffff;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
  margin: 0 -5px 3px;
}
#sp-feature-wrapper {
  border-bottom: 1px solid #eee;
}
#tob_bar {
  padding: 25px 0 0 0;
}
#tob_bar form {
  padding: 0;
  margin: 0;
}
#tob_bar ul.nav li {
  padding: 10px 5px;
}
input#mod-search-searchword {
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  background: url(../images/search-icon.png) no-repeat left center;
  border: none;
  width: 20px;
  padding: 4px 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}
input#mod-search-searchword:focus {
  width: 150px;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 22px;
  padding-right: 14px;
  border: 1px solid #ccc;
  cursor: auto;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}
#sp-custom_title-wrapper {
  padding-top: 30px;
}
.text-center {
  text-align: center;
}
#sp-custom_add {
  border: 1px solid #eee;
  padding: 30px 20px;
}
#sp-custom_add a.btn-large {
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}
a.btn:hover,
a.btn:focus {
  background-position: 0 0;
}
#sp-custom_add .row-fluid {
  margin-bottom: 0;
}
#sp-custom_add .span4 {
  text-align: center;
}
body.homepage #sp-main-body-wrapper {
  display: none;
}
body.featured #sp-main-body-wrapper .container {
  display: none;
}
.rox_utility_inner .row-fluid {
  padding: 0;
  margin: 0;
}
h3.rox_mbanar {
  text-align: center;
}
#rox_our_team .row-fluid {
  padding: 0;
  margin: 0;
}
ul.rox_bottom_link li a {
  line-height: 25px;
  text-decoration: none;
}
a.rox_facebook,
a.rox_gplux,
a.rox_pinterest,
a.rox_twitter {
  padding: 3px;
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  border-radius: 95px;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  line-height: 39px;
  display: inline-block;
  margin-right: 5px;
}
.icon-facebook:before,
.icon-google-plus:before,
.icon-pinterest:before,
.icon-twitter:before {
  font-size: 22px;
}
.rox_title {
  margin: 0 0 31px;
  overflow: hidden;
  display: table;
}
.rox_title h3.rox_header {
  display: table-cell;
  white-space: pre;
  float: left;
  margin: 0;
}
h3.rox_header {
  font-size: 22px;
}
.rox_title .rox_title-sep-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
  height: 6px;
}
.rox_title-sep {
  margin-left: 10px;
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  position: relative;
  height: 6px;
  text-indent: -9999em;
}
.btnWrap {
  border: 1px solid #eee;
  float: left;
  padding: 0 3px 3px 0;
  margin-right: 10px;
  border-radius: 0;
}
.btnWrap .nemobtn {
  border: 1px solid #eee;
  padding: 10px 25px;
  float: left;
  margin: -3px 0 0 -3px;
  background-color: #fff;
  color: #969595;
  text-decoration: none;
  border-radius: 0;
  text-shadow: none;
}
#sp-bottom-wrapper .btnWrap {
  float: left !important;
  padding: 0 3px 3px 0 !important;
  margin-right: 10px !important;
  border-radius: 0;
}
#sp-bottom-wrapper .btnWrap .nemobtn {
  padding: 10px 25px !important;
  float: left;
  margin: -3px 0 0 -3px !important;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
  line-height: 20px;
}
#sp-bottom-wrapper table.acymailing_form {
  margin: 0;
}
#sp-tweet-wrapper {
  text-align: center;
  padding: 15px;
  color: #fff !important;
  font-size: 18px;
  line-height: 20px;
}
#sp-tweet-wrapper h3.rox_left {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin: 0;
}
#sp-tweet-wrapper .sp-tweet-item {
  border-bottom: none;
}
#sp-tweet-wrapper .row-fluid {
  margin-bottom: 0;
}
#sp-tweet-wrapper a.by {
  font-size: 18px;
}
#sp-tweet-wrapper .icon-twitter:before {
  font-size: 30px;
  padding-right: 10px;
}
div.company_team {
  background: transparent;
  border: 1px solid #eee;
  position: relative;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div.company_team h3 {
  color: #666;
  margin-bottom: 0;
  line-height: 10px;
  margin-top: 30px;
}
div.company_team h4 {
  font-size: 16px;
  line-height: 12px;
  color: #666;
}
div.company_team a.rox_com_user {
  font-size: 10em;
}
div.company_team a.rox_com_user:hover .icon-meh:before {
  content: "\f118";
}
div.company_team p.rox_team_desc {
  color: #666;
  margin-bottom: 65px;
}
div.company_team .social {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 3px solid #eee;
}
div.company_team .icon-facebook:before,
div.company_team .icon-twitter:before,
div.company_team .icon-google-plus:before {
  font-size: 20px;
}
div.company_team .col33 {
  width: 33.00%;
  float: left;
  padding: 20px 0;
}
div.company_team .rox_border_left {
  border-left: 1px solid #eee;
}
div.company_team .rox_border_right {
  border-right: 1px solid #eee;
}
img.comp_team {
  margin-top: 15px;
}
#service_box_1 {
  text-align: center;
}
.icon-cogs:before,
.icon-dashboard:before,
.icon-code:before {
  font-size: 70px;
  border: 8px solid #F5F5F5;
  border-radius: 95px;
  padding: 40px;
}
#company_service {
  margin-bottom: 40px;
}
#sp-callnow-wrapper {
  background: url(../images/call_now.jpg) repeat;
}
#call_now {
  text-align: center;
  padding: 100px 0 50px 0;
}
#call_now h3 {
  font-size: 36px;
  color: #414141;
}
#call_now h1 {
  font-size: 60px;
}
#call_now .icon-facebook:before,
#call_now .icon-twitter:before,
#call_now .icon-google-plus:before,
#call_now .icon-linkedin:before {
  font-size: 40px;
  color: #444444;
  padding-top: 10px;
}
#page_feature img {
  width: 220px;
  float: left;
  margin-right: 15px;
}
div.rox_overly {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -320px;
  text-indent: -9999em;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
div.sp-portfolio-thumb:hover  .rox_overly {
  opacity: 1;
  bottom: 0;
}
div.maxima .btn {
  padding: 5px 15px !important;
}
div.maxima a.btn.btn-primary {
  text-transform: capitalize;
}
div.maxima .sp-portfolio-loadmore .btn {
  font-size: 14px !important;
}
.tp-rightarrow:hover:after {
  color: #fff;
}
.tp-rightarrow {
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  border-radius: 95px;
  border: 1px solid #eee;
  background: #fff !important;
}
.tp-rightarrow:after {
  content: "\f105";
  font-family: FontAwesome;
  color: #d5d5d5;
  font-size: 22px;
  line-height: 40px;
}
.tp-leftarrow {
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  border-radius: 95px;
  border: 1px solid #eee;
  background: #fff !important;
}
.tp-leftarrow:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #d5d5d5;
  font-size: 22px;
  line-height: 40px;
}
.tp-leftarrow:hover:after {
  color: #fff;
}
div.maxima .sp-portfolio-item-inner {
  background: transparent !important;
  border: 1px solid #eee;
}
section.entry-content img {
  padding-right: 15px;
}
.animation:not(.visible) {
  opacity: 0;
}
.animation.periodic {
  opacity: 1;
}
.animation.periodic [class*="span"] {
  opacity: 0;
}
.animated.periodic [class*="span"]:nth-child(1) {
  -webkit-animation: fadeInUp 300ms linear 100ms both;
  -moz-animation: fadeInUp 300ms linear 100ms both;
  -ms-animation: fadeInUp 300ms linear 100ms both;
  -o-animation: fadeInUp 300ms linear 100ms both;
  animation: fadeInUp 300ms linear 100ms both;
}
.animated.periodic [class*="span"]:nth-child(2) {
  -webkit-animation: fadeInUp 300ms linear 400ms both;
  -moz-animation: fadeInUp 300ms linear 400ms both;
  -ms-animation: fadeInUp 300ms linear 400ms both;
  -o-animation: fadeInUp 300ms linear 400ms both;
  animation: fadeInUp 300ms linear 400ms both;
}
.animated.periodic [class*="span"]:nth-child(3) {
  -webkit-animation: fadeInUp 300ms linear 800ms both;
  -moz-animation: fadeInUp 300ms linear 800ms both;
  -ms-animation: fadeInUp 300ms linear 800ms both;
  -o-animation: fadeInUp 300ms linear 800ms both;
  animation: fadeInUp 300ms linear 800ms both;
}
.animated.periodic [class*="span"]:nth-child(4) {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
    opacity: 0;
    -ms-transform: scale(.3);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}
.animated.scaleUp {
  -webkit-animation-name: scaleUp;
  -moz-animation-name: scaleUp;
  -o-animation-name: scaleUp;
  animation-name: scaleUp;
}
.sp_quickcontact #message {
  width: 95%;
  height: 200px;
  border-radius: 0;
  padding: 10px 5px;
}
.sp_quickcontact #subject,
.sp_quickcontact #email,
.sp_quickcontact #name {
  padding: 10px 5px;
  border-radius: 0;
  width: 95%;
}
input,
input[type="password"],
input[type="text"],
input[type="email"],
input[type="email"],
isindex {
  padding: 10px 15px;
}
div.form-actions {
  background: transparent;
}
#sp-header-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}
#sp-header-wrapper.fixed .rox_menu_wraper {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
}
#sp-header-wrapper.fixed .rox_menu_wraper2 {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
}
#sp-header-wrapper.fixed #sp-main-menu {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
}
#sp-header-wrapper.fixed #sp-main-menu ul.level-0 > li a {
  padding: 10px !important;
  color: #fff;
}
#sp-header-wrapper.fixed .sub-level {
  top: 45px !important;
}
#sp-header-wrapper.fixed div.sp-menu-group .sp-menu-group-title a {
  background: transparent !important;
  border: 0 !important;
}
#sp-header-wrapper.fixed div.sp-menu-group .sp-menu-group-title span {
  color: #fff;
}
#sp-header-wrapper.fixed .row-fluid {
  margin-bottom: 0;
}
#sp-header-wrapper.fixed .logo-wrapper div.logo {
  background-image: url(../images/presets/logo.png) !important;
  height: 50px !important;
}
#sp-menu {
  margin-top: 4px;
}
.rtl .sp-submenu {
  right: 0;
}
.rtl .sp-submenu.sub-level {
  margin-top: 30px;
}
.rtl .sp-submenu.sub-level.open {
  margin-top: 0;
  -webkit-transition: margin 200ms;
  -moz-transition: margin 200ms;
  -o-transition: margin 200ms;
  transition: margin 200ms;
}
.rtl .sp-submenu.sub-level-child {
  margin-right: 30px;
}
.rtl .sp-submenu.sub-level-child.open {
  margin-right: 0px;
  -webkit-transition: margin 200ms;
  -moz-transition: margin 200ms;
  -o-transition: margin 200ms;
  transition: margin 200ms;
}
.rtl .sp-submenu .megacol {
  float: left;
}
.ltr .sp-submenu {
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0 3px 3px 0;
  margin-right: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ltr .sp-submenu.sub-level {
  margin-top: 30px;
}
.ltr .sp-submenu.sub-level.open {
  margin-top: 0;
  -webkit-transition: margin 200ms;
  -moz-transition: margin 200ms;
  -o-transition: margin 200ms;
  transition: margin 200ms;
}
.ltr .sp-submenu.sub-level-child {
  margin-left: 30px;
}
.ltr .sp-submenu.sub-level-child.open {
  margin-left: 0px;
  -webkit-transition: margin 200ms;
  -moz-transition: margin 200ms;
  -o-transition: margin 200ms;
  transition: margin 200ms;
}
.ltr .sp-submenu .megacol {
  float: left;
}
.sp-submenu {
  position: absolute;
  top: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
}
.sp-submenu .sp-submenu-wrap {
  padding-top: 10px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 25px;
  float: left;
  margin: -3px 0 0 -3px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
}
.sp-submenu.open {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
#sp-main-menu {
  padding: 0 20px 0 20px;
}
#sp-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sp-main-menu ul.level-0 > li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu ul.level-0 > li a {
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #666;
  float: none;
  padding: 25px 20px 25px;
  text-decoration: none;
}
#sp-main-menu ul.level-0 > li a:hover {
  color: #0d5d4d;
}
#sp-main-menu ul.level-0 > li a:focus {
  color: #0d5d4d;
}
#sp-main-menu ul.level-0 > li a .menu-desc {
  font-size: 11px;
  color: #666;
  display: block;
}
#sp-main-menu ul.level-0 > li.parent {
  color: #0d5d4d;
}
#sp-main-menu ul.level-0 > li.parent:hover {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #0d5d4d;
}
#sp-main-menu li li:not(.sp-menu-group) {
  display: block;
  position: relative;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu li li:not(.sp-menu-group):first-child {
  border-top: none;
}
#sp-main-menu li li:not(.sp-menu-group) a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 10px;
  color: #666;
  text-shadow: none;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a span.menu {
  position: relative;
  padding-right: 20px;
  display: block;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 10px;
}
#sp-main-menu div.sp-menu-group {
  margin: 10px;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-title .menu-title {
  text-transform: uppercase;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-title span {
  color: #666;
  font-weight: 700;
  font-size: 16px;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-title a {
  padding: 5px 10px;
}
#sp-main-menu div.sp-menu-group p {
  color: #666;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-content .module {
  margin: 0;
  padding: 10px;
  color: #999;
}
.sp-mobile-menu {
  position: relative;
}
.sp-mobile-menu select.select-menu {
  width: 32px;
  height: 27px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.module {
  margin-top: 20px;
}
.module:first-child {
  margin-top: 0;
}
.module h3 {
  font-size: 24px;
  font-weight: 200;
  margin: 0 0 10px 0;
  line-height: normal;
}
.module.highlighted,
.module.orange,
.module.dark,
.module.green,
.module.maroon,
.module.blue,
.module.gray,
.module.pink,
.module.red {
  padding: 20px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
}
.module.highlighted h3,
.module.orange h3,
.module.dark h3,
.module.green h3,
.module.maroon h3,
.module.blue h3,
.module.gray h3,
.module.pink h3,
.module.red h3 {
  padding: 0 0 10px 0;
  border-bottom: 1px dashed #fff;
  color: #fff;
}
.module.orange {
  background: #f89406;
}
.module.orange a {
  color: #B66B00;
}
.module.orange a:hover {
  color: #6F4100;
}
.module.dark {
  background: #000;
}
.module.dark a {
  color: #777;
}
.module.dark a:hover {
  color: #888;
}
.module.green {
  background: #46a546;
}
.module.green a {
  color: #63E063;
}
.module.green a:hover {
  color: #43F043;
}
.module.maroon {
  background: #F35D34;
}
.module.maroon a {
  color: #B4300D;
}
.module.maroon a:hover {
  color: #C93F19;
}
.module.blue {
  background: #049cdb;
}
.module.blue a {
  color: #47C9FF;
}
.module.blue a:hover {
  color: #0073A3;
}
.module.gray {
  background: #555;
}
.module.gray a {
  color: #999;
}
.module.gray a:hover {
  color: #777;
}
.module.pink {
  background: #c3325f;
}
.module.pink a {
  color: #FF5C8F;
}
.module.pink a:hover {
  color: #FA2E6E;
}
.module.red {
  background: #9d261d;
}
.module.red a {
  color: #EE4538;
}
.module.red a:hover {
  color: #DA3F33;
}
.sp-dropcap {
  overflow: hidden;
}
.sp-dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow li::after,
ul.arrow-double li::before,
ul.arrow-double li::after,
ul.tick li::before,
ul.tick li::after,
ul.cross li::before,
ul.cross li::after,
ul.star li::before,
ul.star li::after,
ul.rss li::before,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
.ltr ul.arrow li::before,
.ltr ul.arrow-double li::before,
.ltr ul.tick li::before,
.ltr ul.cross li::before,
.ltr ul.star li::before,
.ltr ul.rss li::before {
  margin-right: 5px;
}
.ltr ul.arrow li::before {
  content: "\f105";
}
.ltr ul.arrow-double li::before {
  content: "\f101";
}
.ltr ul.tick li::before {
  content: "\f00c";
}
.ltr ul.cross li::before {
  content: "\f00d";
}
.ltr ul.star li::before {
  content: "\f006";
}
.ltr ul.rss li::before {
  content: "\f09e";
}
.rtl ul.arrow li::after,
.rtl ul.arrow-double li::after,
.rtl ul.tick li::after,
.rtl ul.cross li::after,
.rtl ul.star li::after,
.rtl ul.rss li::after {
  margin-left: 5px;
}
.rtl ul.arrow li::after {
  content: "\f104";
}
.rtl ul.arrow-double li::after {
  content: "\f100";
}
.rtl ul.tick li::after {
  content: "\f00c";
}
.rtl ul.cross li::after {
  content: "\f00d";
}
.rtl ul.star li::after {
  content: "\f006";
}
.rtl ul.rss li::after {
  content: "\f09e";
}
.sp-blocknumber {
  position: relative;
  min-height: 45px;
}
.sp-blocknumber span {
  font-weight: bold;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
}
.sp-blocknumber span.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-blocknumber span.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.ltr .sp-blocknumber {
  padding: 5px 0 5px 60px;
}
.ltr .sp-blocknumber span {
  left: 0;
}
.rtl .sp-blocknumber {
  padding: 5px 60px 5px 0;
}
.rtl .sp-blocknumber span {
  right: 0;
}
.sp-block.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-bubble {
  position: relative;
  margin-bottom: 40px;
}
.sp-bubble cite {
  display: block;
  height: 30px;
  line-height: 36px;
  position: absolute;
  bottom: -30px;
}
.sp-bubble cite span {
  content: ' ';
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
}
.ltr .sp-bubble cite {
  left: 15px;
  padding-left: 40px;
}
.ltr .sp-bubble cite span {
  left: 0;
  border-left-color: transparent !important;
}
.rtl .sp-bubble cite {
  right: 15px;
  padding-right: 40px;
}
.rtl .sp-bubble cite span {
  right: 0;
  border-right-color: transparent !important;
}
.ltr [class^="icon-"].pull-left,
.ltr [class*=" icon-"].pull-left {
  margin-right: .3em;
}
.ltr [class^="icon-"].pull-right,
.ltr [class*=" icon-"].pull-right {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-left,
.rtl [class*=" icon-"].pull-left {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-right,
.rtl [class*=" icon-"].pull-right {
  margin-right: .3em;
}
@media (max-width: 767px) {
  .responsivebody {
    padding-left: 0;
    padding-right: 0;
  }
  .responsive .container {
    padding: 0 10px;
    max-width: 480px;
    min-width: 280px;
  }
  .responsive #sp-feature-wrapper {
    padding: 20px 0;
  }
  .responsive #sp-feature-wrapper #feature h1 {
    font-size: 200%;
    line-height: 200%;
  }
  .responsive #sp-feature-wrapper #feature p {
    font-size: 100%;
  }
  .responsive #sp-feature-wrapper #feature .btn {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 31px;
    margin-bottom: 5px;
  }
}
@media (max-width: 979px) {
  .responsive #sp-header-wrapper [class*="span"] {
    width: auto;
    float: left;
  }
  .responsive #sp-header-wrapper [class*="span"]#sp-menu {
    float: right;
  }
}
.fixed .hidden-desktop {
  display: none;
}
@media only screen and (max-width: 768px) {
  div.rox-user-inner .span4,
  #rox_utility_wrapper .span3,
  #rox_our_team .span4 {
    width: 100% !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(1) .rox_border_bottom {
    border-right: 1px solid #eee;
    border-bottom: 0 !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(3) .rox_border_top {
    border-left: 1px solid #eee;
    border-top: 0 !important;
  }
  #rox_our_team .span4.rox_border_right {
    border-right: 0 !important;
  }
  #rox_our_team .span4.rox_border_left {
    border-left: 0 !important;
  }
  #rox_utility_wrapper .content_padding {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  div.maxima .col-1 {
    width: 100% !important;
  }
  div.maxima .col-2 {
    width: 100% !important;
  }
  div.maxima .col-3 {
    width: 100% !important;
  }
  div.maxima .col-4 {
    width: 100% !important;
  }
  div.maxima .col-5 {
    width: 100% !important;
  }
  div.maxima .col-6 {
    width: 100% !important;
  }
  div.maxima .col-7 {
    width: 100% !important;
  }
  div.maxima .col-8 {
    width: 100% !important;
  }
  div.maxima .col-9 {
    width: 100% !important;
  }
  div.maxima .col-10 {
    width: 100% !important;
  }
  div.rox_date {
    left: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  div.rox-user-inner .span4,
  #rox_utility_wrapper .span3,
  #rox_our_team .span4 {
    width: 100% !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(1) .rox_border_bottom {
    border-right: 1px solid #eee;
    border-bottom: 0 !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(3) .rox_border_top {
    border-left: 1px solid #eee;
    border-top: 0 !important;
  }
  #rox_our_team .span4.rox_border_right {
    border-right: 0 !important;
  }
  #rox_our_team .span4.rox_border_left {
    border-left: 0 !important;
  }
  #rox_utility_wrapper .content_padding {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  div.maxima .col-1 {
    width: 100% !important;
  }
  div.maxima .col-2 {
    width: 100% !important;
  }
  div.maxima .col-3 {
    width: 100% !important;
  }
  div.maxima .col-4 {
    width: 100% !important;
  }
  div.maxima .col-5 {
    width: 100% !important;
  }
  div.maxima .col-6 {
    width: 100% !important;
  }
  div.maxima .col-7 {
    width: 100% !important;
  }
  div.maxima .col-8 {
    width: 100% !important;
  }
  div.maxima .col-9 {
    width: 100% !important;
  }
  div.maxima .col-10 {
    width: 100% !important;
  }
  div.rox_date {
    left: 0 !important;
  }
}
@media only screen and (max-width: 540px) {
  div.rox-user-inner .span4,
  #rox_utility_wrapper .span3,
  #rox_our_team .span4 {
    width: 100% !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(1) .rox_border_bottom {
    border-right: 1px solid #eee;
    border-bottom: 0 !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(3) .rox_border_top {
    border-left: 1px solid #eee;
    border-top: 0 !important;
  }
  #rox_our_team .span4.rox_border_right {
    border-right: 0 !important;
  }
  #rox_our_team .span4.rox_border_left {
    border-left: 0 !important;
  }
  #rox_utility_wrapper .content_padding {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  div.maxima .col-1 {
    width: 100% !important;
  }
  div.maxima .col-2 {
    width: 100% !important;
  }
  div.maxima .col-3 {
    width: 100% !important;
  }
  div.maxima .col-4 {
    width: 100% !important;
  }
  div.maxima .col-5 {
    width: 100% !important;
  }
  div.maxima .col-6 {
    width: 100% !important;
  }
  div.maxima .col-7 {
    width: 100% !important;
  }
  div.maxima .col-8 {
    width: 100% !important;
  }
  div.maxima .col-9 {
    width: 100% !important;
  }
  div.maxima .col-10 {
    width: 100% !important;
  }
  div.rox_date {
    left: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  div.rox-user-inner .span4,
  #rox_utility_wrapper .span3,
  #rox_our_team .span4 {
    width: 100% !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(1) .rox_border_bottom {
    border-right: 1px solid #eee;
    border-bottom: 0 !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(3) .rox_border_top {
    border-left: 1px solid #eee;
    border-top: 0 !important;
  }
  #rox_our_team .span4.rox_border_right {
    border-right: 0 !important;
  }
  #rox_our_team .span4.rox_border_left {
    border-left: 0 !important;
  }
  #rox_utility_wrapper .content_padding {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  div.maxima .col-1 {
    width: 100% !important;
  }
  div.maxima .col-2 {
    width: 100% !important;
  }
  div.maxima .col-3 {
    width: 100% !important;
  }
  div.maxima .col-4 {
    width: 100% !important;
  }
  div.maxima .col-5 {
    width: 100% !important;
  }
  div.maxima .col-6 {
    width: 100% !important;
  }
  div.maxima .col-7 {
    width: 100% !important;
  }
  div.maxima .col-8 {
    width: 100% !important;
  }
  div.maxima .col-9 {
    width: 100% !important;
  }
  div.maxima .col-10 {
    width: 100% !important;
  }
  div.rox_date {
    left: 0 !important;
  }
}
@media only screen and (max-width: 320px) {
  div.rox-user-inner .span4,
  #rox_utility_wrapper .span3,
  #rox_our_team .span4 {
    width: 100% !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(1) .rox_border_bottom {
    border-right: 1px solid #eee;
    border-bottom: 0 !important;
  }
  div.rox-user-inner [class*="span"]:nth-child(3) .rox_border_top {
    border-left: 1px solid #eee;
    border-top: 0 !important;
  }
  #rox_our_team .span4.rox_border_right {
    border-right: 0 !important;
  }
  #rox_our_team .span4.rox_border_left {
    border-left: 0 !important;
  }
  #rox_utility_wrapper .content_padding {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  div.maxima .col-1 {
    width: 100% !important;
  }
  div.maxima .col-2 {
    width: 100% !important;
  }
  div.maxima .col-3 {
    width: 100% !important;
  }
  div.maxima .col-4 {
    width: 100% !important;
  }
  div.maxima .col-5 {
    width: 100% !important;
  }
  div.maxima .col-6 {
    width: 100% !important;
  }
  div.maxima .col-7 {
    width: 100% !important;
  }
  div.maxima .col-8 {
    width: 100% !important;
  }
  div.maxima .col-9 {
    width: 100% !important;
  }
  div.maxima .col-10 {
    width: 100% !important;
  }
  div.rox_date {
    left: 0 !important;
  }
}
.accordion-heading {
  padding: 7px;
}
#accordian1 .accordion-heading {
  background: #16A085;
}
#accordian1 a {
  color: #fff;
}
#accordian2 .accordion-heading {
  background: #1ABC9C;
}
#accordian2 a {
  color: #fff;
}
#accordian3 .accordion-heading {
  background: #2ECC71;
}
#accordian3 a {
  color: #fff;
}
#accordian4 .accordion-heading {
  background: #27AE60;
}
#accordian4 a {
  color: #fff;
}
#accordian5 .accordion-heading {
  background: #3498DB;
}
#accordian5 a {
  color: #fff;
}
#accordian6 .accordion-heading {
  background: #2980B9;
}
#accordian6 a {
  color: #fff;
}
#accordian7 .accordion-heading {
  background: #34495E;
}
#accordian7 a {
  color: #fff;
}
#accordian8 .accordion-heading {
  background: #2C3E50;
}
#accordian8 a {
  color: #fff;
}
.unstyled li {
  padding: 3px 0px 3px 0px;
}
.unstyled li i {
  margin-right: 10px;
}
ul#tab1 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab1 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab1 li a {
  background: #16A085;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab1 li a:active,
ul#tab1 li a:hover,
ul#tab1 li a:focus,
ul#tab1 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
  border: 1px solid #f5f5f5;
}
.tab-content {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 0;
}
ul#tab2 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab2 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab2 li a {
  background: #1ABC9C;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab2 li a:active,
ul#tab2 li a:hover,
ul#tab2 li a:focus,
ul#tab2 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
}
ul#tab3 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab3 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab3 li a {
  background: #2ECC71;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab3 li a:active,
ul#tab3 li a:hover,
ul#tab3 li a:focus,
ul#tab3 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
  border: 1px solid #f5f5f5;
}
.tab-content {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 0;
}
ul#tab4 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab4 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab4 li a {
  background: #27AE60;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab4 li a:active,
ul#tab4 li a:hover,
ul#tab4 li a:focus,
ul#tab4 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
}
ul#tab5 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab5 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab5 li a {
  background: #3498DB;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab5 li a:active,
ul#tab5 li a:hover,
ul#tab5 li a:focus,
ul#tab5 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
  border: 1px solid #f5f5f5;
}
.tab-content {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 0;
}
ul#tab6 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab6 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab6 li a {
  background: #2980B9;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab6 li a:active,
ul#tab6 li a:hover,
ul#tab6 li a:focus,
ul#tab6 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
}
ul#tab7 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab7 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab7 li a {
  background: #34495E;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab7 li a:active,
ul#tab7 li a:hover,
ul#tab7 li a:focus,
ul#tab7 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
  border: 1px solid #f5f5f5;
}
.tab-content {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 0;
}
ul#tab8 {
  margin-bottom: 0;
  border-bottom: none;
}
ul#tab8 li {
  margin: 0;
  padding: 0;
  float: left;
}
ul#tab8 li a {
  background: #2C3E50;
  padding: 15px 20px;
  border-radius: 0;
  color: #fff;
  border-right: 1px solid transparent;
}
ul#tab8 li a:active,
ul#tab8 li a:hover,
ul#tab8 li a:focus,
ul#tab8 li.active a {
  background: #f5f5f5 !important;
  color: #898989;
}
a.copyright {
  display: none !important;
}
.rtl .pull-right {
  float: left;
}
.rtl .pull-left {
  float: right;
}
.rtl .rox_border_right {
  border-left: 1px solid #eee;
}
.rtl .rox_border_left {
  border-right: 1px solid #eee;
}
.rtl .rox_left0 {
  margin-right: 0 !important;
}
.rtl .rox_right0 {
  margin-left: 0 !important;
}
.rtl .nav li {
  float: left;
}
.rtl .nav li a {
  border-left: 1px solid #666;
  border-right: 0 !important;
  padding-right: 0;
  padding-left: 10px;
}
.rtl .rox_menu_wraper {
  border-right: 1px solid #eee !important;
  border-left: 0 !important;
}
.rtl .rox_menu_wraper2 {
  border-right: 1px solid #eee !important;
  border-left: 0 !important;
}
.rtl #sp-main-menu {
  border-right: 1px solid #eee;
  border-left: 0 !important;
}
.rtl #rox_utility_wrapper .content_padding {
  margin-right: 0 !important;
  margin-left: 5px;
}
.rtl #sp-footer-wrapper ul.nav li {
  margin: 0 20px 0 0;
}
.rtl #rox_our_team .team_desc {
  padding-right: 150px;
  padding-left: 0px !important;
  text-align: left;
}
.rtl .rox_nav_controll {
  right: 95% !important;
  padding: 5px 10px 5px 0;
}
.rtl .rox_nav_controll .carousel-control.right {
  right: 55% !important;
}
.rtl .rox_title .rox_title-sep-container {
  padding-right: 15px;
}
.rtl #sp-footer-wrapper .sp-totop {
  right: auto;
  left: 10px;
}
.rtl #sp-tweet-wrapper .icon-twitter:before {
  padding-left: 10px;
  padding-right: 0;
}
.rtl div.maxima .sp-portfolio-thumb,
.rtl div.maxima .sp-portfolio-item-details {
  float: right !important;
}
.rtl div.maxima .sp-portfolio-item-details {
  padding-right: 10px;
  padding-left: 0;
}
.rtl .btnWrap {
  margin-left: 10px;
  margin-right: 0;
}
.rtl #sp-breadcrumb-wrapper #sp-breadcrumb {
  text-align: left !important;
}
.rtl div.rox_date {
  left: 90% !important;
}
.rtl #k2Container {
  padding-right: 0 !important;
  padding-left: 30px;
  border-right: 0 !important;
  border-left: 1px solid #eee;
}
.rtl div.k2LatestCommentsBlock ul li a.lcAvatar img,
.rtl div.k2UsersBlock ul li a.ubUserAvatar img {
  margin-right: 0 !important;
  margin-left: 10px;
}
.rtl .team-specialization .progress .bar {
  text-align: right;
}
.rtl .sp-timeline .timeline-item-box.odd:before {
  right: 100%;
  left: auto;
  border-left-color: transparent;
  border-right-color: #FFF;
}
.rtl .sp-timeline .timeline-item-box.even:after {
  right: auto;
  left: 100%;
  border-left-color: #fff;
  border-right-color: transparent;
}
.rtl .product-review .service-grid .services img {
  margin-right: 0;
  margin-left: 20px;
}
.rtl .product-review .service-grid .services .pull-left {
  float: right;
}
.rtl .contact-contactinfo .contact-telephone {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.rtl .contact-contactinfo .contact-telephone:after {
  border-left-color: transparent;
  border-width: 0 0 30px 30px;
  border-right-color: #D04444;
  left: auto;
  right: 0;
}
.rtl .contact-contactinfo .contact-emailto {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.rtl .contact-contactinfo .contact-emailto:after {
  border-right-color: transparent;
  border-left-color: #C23939;
  border-width: 30px 0 0 30px;
  left: 0;
  right: auto;
}
.rtl .search-button {
  left: 0;
  right: auto;
}
.rtl .k2Avatar img {
  float: right;
}
.rtl div.userBlock img {
  margin: 0 0 0 15px;
}
.rtl div.k2ItemsBlock ul li a.moduleItemTitle {
  margin-left: 0;
  margin-right: 10px;
}
.rtl div.itemCommentsForm .btnWrap {
  float: right !important;
}
.rtl div.itemBackToTop {
  text-align: left;
}
.rtl div.k2TagCloudBlock a {
  float: right;
}
.rtl .catItemDateCreated,
.rtl .catItemAuthor,
.rtl .catItemTagsBlock,
.rtl .catItemCommentsLink,
.rtl .userItemDateCreated,
.rtl .userItemCommentsLink,
.rtl .userItemTagsBlock,
.rtl .tagItemDateCreated,
.rtl .itemAuthor,
.rtl .itemDateCreated,
.rtl .itemTagsBlock,
.rtl div.itemRatingBlock {
  margin-right: 0;
  margin-left: 15px;
}
.rtl div.itemAuthorBlock img.itemAuthorAvatar,
.rtl div.itemComments ul.itemCommentsList li img {
  float: right;
  margin: 0 0 0 20px;
}
.rtl div.itemComments ul.itemCommentsList li span.commentLink {
  float: left;
  margin-left: 0;
  margin-right: 8px;
}
